*, ::before, ::after {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
}

[x-cloak] {
    display: none !important;
}

@tailwind components;
@tailwind utilities;

.authcred-buy {
    width: 30%;
    @apply inline-block rounded mr-4;
    border: #d1d5db 1px solid;
}

.authcred-buy:hover {
    @apply border-red-500;
}